/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
   max-width: 100%;
   height: auto;
    
}

/* COMMON */
h4{
    font-size: 1rem;
    margin-bottom: 20px;
}
p{
    font-size: .5rem;
    line-height: 15px;
}
:root{
    --primary-color:#255EE9;
    --secondary-color:#292841;
    --gray-bg-color:#F5F5F5;
    --light-button-color:#7289DA;
    --footer-color:#23272A;
}
.container{
    display: flex;
    width: 80%;
    margin: 0 auto;

}
body{
    font-family:Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif; ;
}
/* BUTTONS */
.bt-shape{
    border-radius: 90px;
    text-align: center;
    padding: 5px;
}

.bt-small{
    font-size: .3rem;
}

.bt-big{
    font-size: 0.5rem;
}
.bt-white{
    background-color: #ffffff;
    color: black;
}
.bt-dark{
    background-color: #23272A;
    color: white;

}
.bt-blue{
    background-color: #7289DA;
    color: white;
}
.j-button {
    display: flex;
    padding: 10px;
}
/* HEADER */


.header-nav{
    background-color: var(--primary-color);
}

.header-bar{
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 40px;
    color: white;

}

.h-logo{
    width: 20%;
    /* border-style: dashed solid; */
    padding: 10px;
    align-items: center;

}

.header-menu{
    display: flex;
    justify-content:center;
    width: 60%;
    color: inherit;
    text-decoration: none;
    /* border-style: dashed solid; */
    /* padding: 10px ; */
    overflow: auto;

}
.header-menu a {
    color: inherit;
    text-decoration: none;
    font-size: .4rem;
    padding: 5px;
    

} 

.action-button{
    /* width: 20%; */
    /* border-style:dashed solid; */
    
    
    

}
/* JUMBOTRON */

.main-header{
   background-image: url(../img/jumbo.png); 
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-size: 100%;
   max-width: 100%;
   height: auto;
    
     
}    

.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 200px;
    width: 50%;
    margin: 0 auto;
    color: white;
    font-size: .7rem;
}
.title{
    padding: 20px;
}

.jumbotorn-button{
    margin: 5px;
    text-decoration: none;
    font-size: .4rem;
    padding: 5px;

}
/* MAIN */
.main-section{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.big-section{
    /* min-height: 300px; */
     width: 60%;
     /* background-color: lightskyblue;
     border-style: dashed; */
}
.small-section{
    /* min-height: 300px; */
    width: 40%;
    /* background-color: lightsalmon;
    border-style: dashed; */

}

.bk-gray{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
.last-section{
    min-height: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: aquamarine;
    border-style: dashed;

}
/* FOOTER */
.main-footer{
    min-height: 300px;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
}

.bk-black{
    background-color: black;
}
.footer-menu{
    min-height: 300px;
    width: 40%;
    background-color: lightgreen;
    border-style: dashed;

}
.footer-list{
    min-height: 300px;
    width: calc(100% / 4);
    background-color: bisque;
    border-style: dashed;
}
.footer-bar{


    border-top: 1px white;
    padding: 40px;
}
/* .f-logo{
    border-style: dashed;
    padding: 5px;

} */
.button, .f-logo{
    border-style: dashed;
    padding: 5px;
    background-color: lightpink;
}
.footer-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 10px 0;

}